/* Custom CSS */
.form-all {
padding-top: 0;
margin-top: -10px;
}


.btn-cta {
  background-color: hsl(20, 100%, 42%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6214", endColorstr="#d64700");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff6214), to(#d64700));
  background-image: -moz-linear-gradient(top, #ff6214, #d64700);
  background-image: -ms-linear-gradient(top, #ff6214, #d64700);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff6214), color-stop(100%, #d64700));
  background-image: -webkit-linear-gradient(top, #ff6214, #d64700);
  background-image: -o-linear-gradient(top, #ff6214, #d64700);
  background-image: linear-gradient(#ff6214, #d64700);
  border-color: #d64700 #d64700 hsl(20, 100%, 39%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
  -webkit-font-smoothing: antialiased;
}

.sidebar{
    border: 1px solid #a3a3a3;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
    background: -moz-linear-gradient(center top , #fefefe, #f1f1f1) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 2px #999;
}

#contact {
	text-align: center;
}

#fb {
	margin-right: 0px;
	width: 75px;
	height: 75px;
	text-align: center;
}

#twitter {
	margin-left: 0px;
	width: 75px;
	height: 75px;
	text-align: center;
}

.servicebar{
    background-color:rgba(35,35,35,.7);
    text-align:center;
padding:10px;


}

#jumbo {

	text-align: center;
}

.navbar .nav > li > a {
 
    	color:  #ddd;
}

.navbar-default .navbar-brand {
    color: #ddd;
}



.footer {

	background-color: #333333;
	padding-top: 20px;
}

.navbar-custom {
    background-color:#333333;
    color:#333333;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}

#facebook {
background: url("/Portals/_default/Skins/DMC2012/footer_images/facebook-icon.svg") no-repeat;}

#address {
	padding: 0px;
}

#footerdivider {
    display: inline-block;
    width: 0;
    height: 4.8em;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    margin-top: 4px;
}

#footerdivider1 {
    display: inline-block;
    width: 0;
    height: 4.8em;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    margin-top: 4px;
    
}

.hdrIcon {

    color:#333333;
}

.left-align{
    text-align: left;
}

.top-offset{
    padding-top:65px;
}