

<div class="row post-full">
  <div class="col-md-12">
    <div class="date">
      <!--<span>{{ page.date | date_to_long_string }}</span>-->
    </div>
    
    <div class="content">
      <div class="col-md-12" style="text-align:left;">
      <ol class="list-unstyled">
          <li style="display:inline;"><a href="http://www.corsosystems.com">Corso Systems</a>
        <li class="divider" style="display:inline;">/</li>
        {% if page.url contains 'case_studies' %}
        <li style="display:inline;"><a href="http://www.corsosystems.com/case_studies.html">Case Studies</a> / </li>
          {% endif %}
        {% if page.url contains 'food_and_beverage' %}
          <li style="display:inline;"><a href="http://www.corsosystems.com/case_studies.html#Food and Beverage-ref">Food and Beverage</a> / </li>
        {% endif %}
        {% if page.url contains 'corrections' %}
          <li style="display:inline;"><a href="http://www.corsosystems.com/case_studies.html#Corrections-ref">Corrections</a> / </li>
        {% endif %}
        {% if page.url contains 'aggregates' %}
          <li style="display:inline;"><a href="http://www.corsosystems.com/case_studies.html#Aggregates-ref">Aggregates</a> / </li>
        {% endif %}
        {% if page.url contains 'mining' %}
          <li style="display:inline;"><a href="http://www.corsosystems.com/case_studies.html#Mining-ref">Mining</a> / </li>
        {% endif %}
        {% if page.url contains 'solar' %}
          <li style="display:inline;"><a href="http://www.corsosystems.com/case_studies.html#Solar-ref">Solar</a> / </li>
        {% endif %}
        {% if page.url contains 'municipal' %}
          <li style="display:inline;"><a href="http://www.corsosystems.com/case_studies.html#Municipal-ref">Municipal</a> / </li>
        {% endif %}
        {% if page.url contains 'manufacturing' %}
          <li style="display:inline;"><a href="http://www.corsosystems.com/case_studies.html#Manufacturing-ref">Manufacturing</a> / </li>
        {% endif %}
          <li class="active" style="display:inline;">{{ page.title }}</li>
        </ol>
      </div>
        <div class="col-md-12">
          <div style="text-align:left;">
            <h2>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h2>
          </div>
        </div>
        <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <img src="{{page.image}}" style="display:block;margin:auto;" width="100%"/>
          </div>

          <div class="col-md-4" style="text-align:left;">
            <div class="row">
                  <div class="col-md-7" style="text-align:left;color:#333333;">
                    <h4>Project Summary</h4>
                  </div>
                </div>
            {{page.detail_summary}}
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6" style="text-align:left;color:#333333;">
                <h4>Project Details</h4>
              </div>
            </div>
            <hr>
            <div class="row" style="text-align:left;color:#333333;">
              <div class="col-md-5"><b>Industry</b></div>
              <div class="col-md-5 col-md-offset-1"><b>Location</b></div>
            </div>
            <div class="row" style="text-align:left;">
              <div class="col-md-5">{{page.industry}}</div>
              <div class="col-md-5 col-md-offset-1">{{page.location}}</div>
            </div>
            <hr>
            <div class="row" style="text-align:left;color:#333333;">
              <div class="col-md-10"><b>Services</b></div>
            </div>
            <div class="row" style="text-align:left;">
              <div class="col-md-10">{{page.services}}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <br/>
          <br/>
          <div class="col-md-3 col-md-offset-1" style="border:1px solid #ececec;background:#f7f7f7;color:#333333;text-align:left;">
            <label style="margin-top:10px;">Focus</label>
            <div style="border-top:1px solid #c3c3c3;margin-top:5px;margin-bottom:10px;"></div>
            <ul style="text-align:left;">
              {{page.focus}}
            </ul>
          </div>
          <div class="col-md-3" style="border:1px solid #ececec;background:#f7f7f7;color:#333333;text-align:left; margin-left:40px;">
              <label style="margin-top:10px;">Drive</label>
              <div style="border-top:1px solid #c3c3c3;margin-top:5px;margin-bottom:10px;"></div>
              <ul style="text-align:left;">
                {{page.drive}}
              </ul>
            </div>
            <div class="col-md-3" style="border:1px solid #ececec;background:#f7f7f7;color:#333333;text-align:left;margin-left:40px;">
              <label style="margin-top:10px;">Results</label>
              <div style="border-top:1px solid #c3c3c3;margin-top:5px;margin-bottom:10px;"></div>
              <ul style="text-align:left;">
                {{page.results}}
              </ul>
            </div>
        </div>
        <div class="col-md-12" style="text-align:left;">
          <br/>
          <br/>
          <div class="col-md-8">
        <h4>Solution</h4>
        <hr>

        {{page.solution}}
        </div>
        <div class="col-md-4">
          <h4>Technology</h4>
          <hr>
          <ul class="left-align list-unstyled">
            {{page.technology}}
          </ul>
          </div>
        </div>

        <p class="left-align"></p>
        <div class="col-md-12">
          <hr>
          <div class="col-md-8" style="text-align:left;">
          <h4>Benefits</h4>

          <div class="list-group">
            {{page.benefits}}
              </div>
        </div>
        </div>
      </div>
    </div>

    <hr>
  <div class="col-md-4 col-md-offset-4" style="text-align:center">
    {% unless page.tags == empty %}
      <span>See other case studies:</span>
      <ul class="tag_box inline list-unstyled">
        <!--<li><i class="glyphicon-tags"></i></li>-->
        {% assign tags_list = page.tags %}
        {% include tags_list %}
      </ul>
    {% endunless %}
    
    <ul class="pagination">
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
    </ul>
  </div>
    <hr>
    
  </div>
</div>





