<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{page.blurb}}">
    <meta name="author" content="{{page.author}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
    
    {% if page.url contains 'blog/' %}
      <title>{{page.title}}</title>
      <meta property="og:image" content="http://corsosystems.com{{page.image}}"/>
      <meta property="og:type" content="article"/>
      <meta property="og:url" content="http://corsosystems.com{{page.url}}"/>
      <meta property="og:title" content="{{page.title}}"/>
      <meta property="og:description" content="{{page.blurb}}" />
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@corsosystems">
      <meta name="twitter:creator" content="@corsosystems">
      <meta name="twitter:title" content="{{page.title}}">
      <meta name="twitter:description" content="{{page.blurb}}">
      <meta name="twitter:image:src" content="http://corsosystems.com{{page.image}}">
    {% else %}
      <title>{% if page.titlebar %}{{ page.titlebar }}{% else %}{{ site.title }}{% endif %}</title>
    {% endif %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="icon" 
          type="image/png" 
          href="/img/favicon.png" sizes="32x32">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="http://load.sumome.com/" data-sumo-site-id="a5c8f62768b3f5b18c99d83f522c2c6f79983f6929868f3cc04da36106da7f7b" async="async"></script>
</head>