<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top noprint" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://www.corsosystems.com/"><img src="/img/invert1.png" style="width:65px;margin:0px 0px;float:left;opacity:1!important;"/></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
            <ul class="nav navbar-nav" style="margin-left:20px;">
                <li><a href="http://www.corsosystems.com/about" class="bright">About</a>
                </li>
                <li><a href="http://www.corsosystems.com/blog.html" class="bright">Blog</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle bright" data-toggle="dropdown" role="button" aria-expanded="false">Services <span class="caret bright"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="http://www.corsosystems.com/plc_programming">PLC Programming</a></li>
                        <li><a href="http://www.corsosystems.com/hmi_scada">HMI/SCADA</a></li>
                        <li><a href="http://www.corsosystems.com/mes">Manufacturing Execution Systems (MES)</a></li>
                        <!--<li><a href="http://www.corsosystems.com/business_intelligence">Business Intelligence</a></li>
                                         -->
                    </ul>
                </li>
                <li><a href="http://www.corsosystems.com/platforms" class="bright">Platforms</a></li>
                <li><a href="http://www.corsosystems.com/case_studies.html" class="bright">Case Studies</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle bright" data-toggle="dropdown" role="button" aria-expanded="false">Resources <span class="caret bright"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    <li><a href="http://www.corsosystems.com/ask_an_expert">Ask An Expert</a></li>
                        <li><a href="http://www.corsosystems.com/automation_estimator">Automation Estimator</a></li>
                        <li><a href="http://www.corsosystems.com/mes_estimator">MES/MOM Estimator</a></li>
                        <li><a href="http://www.corsosystems.com/wpsignup">White Papers</a></li>
                    </ul>
                </li>
                <li><a href="http://www.corsosystems.com/contact" class="bright">Contact</a></li>
            </ul>
            <div class="navbar-form navbar-right" role="search">
              <div id="search" class="form-group">
                <form action="/search" method="get">
                  <input type="text" id="search-query" name="q" placeholder="Search" autocomplete="off" class="form-control">
                  <button type="submit" class="btn btn-default">Search</button>
                </form>
              </div>
            </div>
        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container -->
</nav>